In [2]:
# 3列×5行のデータフレームを作成する

import pandas as pd
df = pd.DataFrame(
        {'A': [10, 20, 30, 40, 50],                      # 列Aとその値
        'B': [0.8, 1.6, 2.4, 4.3, 7.6],                  # 列Bとその値
        'C': [-1, -2.6, -3.5, -4.3, -5.1] },             # 列Cとその値
        index = ['row1', 'row2', 'row3', 'row4', 'row5'] # 行名を設定
)

In [3]:
df

       A    B    C
row1  10  0.8 -1.0
row2  20  1.6 -2.6
row3  30  2.4 -3.5
row4  40  4.3 -4.3
row5  50  7.6 -5.1

In [5]:
df['A']                 # 列Aを取得

row1    10
row2    20
row3    30
row4    40
row5    50
Name: A, dtype: int64

In [6]:
df['B']                 # 列Bを取得

row1    0.8
row2    1.6
row3    2.4
row4    4.3
row5    7.6
Name: B, dtype: float64

In [7]:
df['C']                 # 列Cを取得

row1   -1.0
row2   -2.6
row3   -3.5
row4   -4.3
row5   -5.1
Name: C, dtype: float64

In [8]:
df[['A', 'C']]          # A列、B列を取得

       A    C
row1  10 -1.0
row2  20 -2.6
row3  30 -3.5
row4  40 -4.3
row5  50 -5.1

In [9]:
# データフレームの行の取得

df

       A    B    C
row1  10  0.8 -1.0
row2  20  1.6 -2.6
row3  30  2.4 -3.5
row4  40  4.3 -4.3
row5  50  7.6 -5.1

In [10]:
df[1 : 4]             # 2行目から4行目までを抽出

       A    B    C
row2  20  1.6 -2.6
row3  30  2.4 -3.5
row4  40  4.3 -4.3

In [11]:
df[: 2]               # 先頭の行から2行目までを抽出

       A    B    C
row1  10  0.8 -1.0
row2  20  1.6 -2.6

In [12]:
# 行インデックスで抽出する
df['row1' : 'row3']   # row1からrow3までを抽出

       A    B    C
row1  10  0.8 -1.0
row2  20  1.6 -2.6
row3  30  2.4 -3.5